## Importing libraries

In [1]:
import json
import pandas as pd
import requests

## Without function

In [2]:
url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/autosuggest/v1.0/UK/GBP/en-GB/"

querystring = {"query":"Berlin"}

headers = {
    'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com",
    'x-rapidapi-key': "1c580f9607msh4374fd2295725efp12a851jsn8195424bb796"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "Places" : [ {
    "PlaceId" : "BER-sky",
    "PlaceName" : "Berlin Brandenburg",
    "CountryId" : "DE-sky",
    "RegionId" : "",
    "CityId" : "BERL-sky",
    "CountryName" : "Germany"
  }, {
    "PlaceId" : "BLI-sky",
    "PlaceName" : "Bellingham",
    "CountryId" : "US-sky",
    "RegionId" : "WA",
    "CityId" : "BLIA-sky",
    "CountryName" : "United States"
  }, {
    "PlaceId" : "BTV-sky",
    "PlaceName" : "Burlington",
    "CountryId" : "US-sky",
    "RegionId" : "VT",
    "CityId" : "BTVA-sky",
    "CountryName" : "United States"
  }, {
    "PlaceId" : "BRL-sky",
    "PlaceName" : "Burlington",
    "CountryId" : "US-sky",
    "RegionId" : "IA",
    "CityId" : "BRLA-sky",
    "CountryName" : "United States"
  } ]
}

In [3]:
url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/browsequotes/v1.0/US/USD/en-US/SFO-sky/JFK-sky/2021-11-01"

querystring = {"inboundpartialdate":"2019-12-01"}

headers = {
    'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com",
    'x-rapidapi-key': "1c580f9607msh4374fd2295725efp12a851jsn8195424bb796"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "Quotes" : [ {
    "QuoteId" : 1,
    "MinPrice" : 68,
    "Direct" : true,
    "OutboundLeg" : {
      "CarrierIds" : [ 851 ],
      "OriginId" : 81727,
      "DestinationId" : 60987,
      "DepartureDate" : "2021-11-01T00:00:00"
    },
    "QuoteDateTime" : "2021-10-11T17:16:00"
  } ],
  "Carriers" : [ {
    "CarrierId" : 851,
    "Name" : "Alaska Airlines"
  } ],
  "Places" : [ {
    "Name" : "New York John F. Kennedy",
    "Type" : "Station",
    "PlaceId" : 60987,
    "IataCode" : "JFK",
    "SkyscannerCode" : "JFK",
    "CityName" : "New York",
    "CityId" : "NYCA",
    "CountryName" : "United States"
  }, {
    "Name" : "San Francisco International",
    "Type" : "Station",
    "PlaceId" : 81727,
    "IataCode" : "SFO",
    "SkyscannerCode" : "SFO",
    "CityName" : "San Francisco",
    "CityId" : "SFOA",
    "CountryName" : "United States"
  } ],
  "Currencies" : [ {
    "Code" : "USD",
    "Symbol" : "$",
    "ThousandsSeparator" : ",",
    "DecimalSeparator" : ".",
    "SymbolOnLeft" : true,
    "SpaceBetweenAmountAndSymbol" : false,
    "RoundingCoefficient" : 0,
    "DecimalDigits" : 2
  } ]
}

In [4]:
df = pd.DataFrame(response.json().items())
df['new_col'] = df[1].apply(lambda x: x[0])
df

,0,1,new_col
0,Quotes,"[{'QuoteId': 1, 'MinPrice': 68, 'Direct': True...","{'QuoteId': 1, 'MinPrice': 68, 'Direct': True,..."
1,Carriers,"[{'CarrierId': 851, 'Name': 'Alaska Airlines'}]","{'CarrierId': 851, 'Name': 'Alaska Airlines'}"
2,Places,"[{'Name': 'New York John F. Kennedy', 'Type': ...","{'Name': 'New York John F. Kennedy', 'Type': '..."
3,Currencies,"[{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...","{'Code': 'USD', 'Symbol': '$', 'ThousandsSepar..."

In [5]:
# Normalize the response
pd.json_normalize(response.json())

,Quotes,Carriers,Places,Currencies
0,"[{'QuoteId': 1, 'MinPrice': 68, 'Direct': True...","[{'CarrierId': 851, 'Name': 'Alaska Airlines'}]","[{'Name': 'New York John F. Kennedy', 'Type': ...","[{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa..."

In [6]:
quotes = pd.DataFrame(pd.json_normalize(response.json())["Quotes"][0])
carriers = pd.DataFrame(pd.json_normalize(response.json())["Carriers"][0])
places = pd.DataFrame(pd.json_normalize(response.json())["Places"][0])
currencies = pd.DataFrame(pd.json_normalize(response.json())["Currencies"][0])

In [7]:
places

,Name,Type,PlaceId,IataCode,SkyscannerCode,CityName,CityId,CountryName
0,New York John F. Kennedy,Station,60987,JFK,JFK,New York,NYCA,United States
1,San Francisco International,Station,81727,SFO,SFO,San Francisco,SFOA,United States

In [10]:
carriers

   CarrierId             Name
0        851  Alaska Airlines

In [11]:
places

,Name,Type,PlaceId,IataCode,SkyscannerCode,CityName,CityId,CountryName
0,New York John F. Kennedy,Station,60987,JFK,JFK,New York,NYCA,United States
1,San Francisco International,Station,81727,SFO,SFO,San Francisco,SFOA,United States

In [12]:
currencies

,Code,Symbol,ThousandsSeparator,DecimalSeparator,SymbolOnLeft,SpaceBetweenAmountAndSymbol,RoundingCoefficient,DecimalDigits
0,USD,$,",",.,True,False,0,2

In [8]:
flights = pd.DataFrame(pd.DataFrame(pd.json_normalize(response.json())["Quotes"][0])["OutboundLeg"][0])

In [9]:
flights

   CarrierIds  OriginId  DestinationId        DepartureDate
0         851     81727          60987  2021-11-01T00:00:00

## API + function

In [14]:
def flight_search_city(city=""):
    url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/autosuggest/v1.0/UK/GBP/en-GB/"

    querystring = {"query":city}

    headers = {
        'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com",
        'x-rapidapi-key': "1c580f9607msh4374fd2295725efp12a851jsn8195424bb796"
        }

    response = requests.request("GET", url, headers=headers, params=querystring)

    print(response.text)

In [15]:
flight_search_city(city="Paris")

{
  "Places" : [ {
    "PlaceId" : "PARI-sky",
    "PlaceName" : "Paris",
    "CountryId" : "FR-sky",
    "RegionId" : "",
    "CityId" : "PARI-sky",
    "CountryName" : "France"
  }, {
    "PlaceId" : "CDG-sky",
    "PlaceName" : "Paris Charles de Gaulle",
    "CountryId" : "FR-sky",
    "RegionId" : "",
    "CityId" : "PARI-sky",
    "CountryName" : "France"
  }, {
    "PlaceId" : "ORY-sky",
    "PlaceName" : "Paris Orly",
    "CountryId" : "FR-sky",
    "RegionId" : "",
    "CityId" : "PARI-sky",
    "CountryName" : "France"
  }, {
    "PlaceId" : "BVA-sky",
    "PlaceName" : "Paris Beauvais",
    "CountryId" : "FR-sky",
    "RegionId" : "",
    "CityId" : "PARI-sky",
    "CountryName" : "France"
  }, {
    "PlaceId" : "LBG-sky",
    "PlaceName" : "Paris Le Bourget",
    "CountryId" : "FR-sky",
    "RegionId" : "",
    "CityId" : "PARI-sky",
    "CountryName" : "France"
  }, {
    "PlaceId" : "PIN-sky",
    "PlaceName" : "Parintins",
    "CountryId" : "BR-sky",
    "RegionId" : "",
    "CityId" : "PINA-sky",
    "CountryName" : "Brazil"
  }, {
    "PlaceId" : "PK-sky",
    "PlaceName" : "Pakistan",
    "CountryId" : "PK-sky",
    "RegionId" : "",
    "CityId" : "-sky",
    "CountryName" : "Pakistan"
  }, {
    "PlaceId" : "ISB-sky",
    "PlaceName" : "Islamabad",
    "CountryId" : "PK-sky",
    "RegionId" : "",
    "CityId" : "ISBA-sky",
    "CountryName" : "Pakistan"
  }, {
    "PlaceId" : "LHE-sky",
    "PlaceName" : "Lahore",
    "CountryId" : "PK-sky",
    "RegionId" : "",
    "CityId" : "LHEA-sky",
    "CountryName" : "Pakistan"
  }, {
    "PlaceId" : "KHI-sky",
    "PlaceName" : "Karachi",
    "CountryId" : "PK-sky",
    "RegionId" : "",
    "CityId" : "KHIA-sky",
    "CountryName" : "Pakistan"
  } ]
}

In [17]:
def flight_search_date(date=""):
    url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/browsequotes/v1.0/US/USD/en-US/SFO-sky/JFK-sky/2021-11-01"

    querystring = {"inboundpartialdate":date}

    headers = {
        'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com",
        'x-rapidapi-key': "1c580f9607msh4374fd2295725efp12a851jsn8195424bb796"
        }

    response = requests.request("GET", url, headers=headers, params=querystring)

    print(response.text)

In [18]:
flight_search_date(date="2021-10-29")

{
  "Quotes" : [ {
    "QuoteId" : 1,
    "MinPrice" : 68,
    "Direct" : true,
    "OutboundLeg" : {
      "CarrierIds" : [ 851 ],
      "OriginId" : 81727,
      "DestinationId" : 60987,
      "DepartureDate" : "2021-11-01T00:00:00"
    },
    "QuoteDateTime" : "2021-10-12T18:42:00"
  } ],
  "Carriers" : [ {
    "CarrierId" : 851,
    "Name" : "Alaska Airlines"
  } ],
  "Places" : [ {
    "Name" : "New York John F. Kennedy",
    "Type" : "Station",
    "PlaceId" : 60987,
    "IataCode" : "JFK",
    "SkyscannerCode" : "JFK",
    "CityName" : "New York",
    "CityId" : "NYCA",
    "CountryName" : "United States"
  }, {
    "Name" : "San Francisco International",
    "Type" : "Station",
    "PlaceId" : 81727,
    "IataCode" : "SFO",
    "SkyscannerCode" : "SFO",
    "CityName" : "San Francisco",
    "CityId" : "SFOA",
    "CountryName" : "United States"
  } ],
  "Currencies" : [ {
    "Code" : "USD",
    "Symbol" : "$",
    "ThousandsSeparator" : ",",
    "DecimalSeparator" : ".",
    "SymbolOnLeft" : true,
    "SpaceBetweenAmountAndSymbol" : false,
    "RoundingCoefficient" : 0,
    "DecimalDigits" : 2
  } ]
}

In [40]:
def flight_search_combination(country="", currency="", origin="", destination="", outbound_date="", inbound_date=""):
    url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/browsequotes/v1.0/{country}/{currency}/en-US/{origin}-sky/{destination}-sky/{outbound_date}"
        
    querystring = {"inboundpartialdate":"{inbound_date}"}

    headers = {
        'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com",
        'x-rapidapi-key': "1c580f9607msh4374fd2295725efp12a851jsn8195424bb796"
        }

    response = requests.request("GET", url, headers=headers, params=querystring)

    print(response.text)

In [43]:
flight_search_combination(country="DE", currency="EUR", origin="BCN", destination="BER", outbound_date="2021-11-27", inbound_date="2021-11-30")

{
  "code" : 404,
  "message" : "HTTP 404 Not Found"
}

--> why does thi give me an error? the code below works and uses the same url..

In [42]:
url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/browsequotes/v1.0/DE/EUR/en-US/BCN-sky/BER-sky/2021-11-27"

querystring = {"inboundpartialdate":"2021-11-30"}

headers = {
    'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com",
    'x-rapidapi-key': "1c580f9607msh4374fd2295725efp12a851jsn8195424bb796"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "Quotes" : [ {
    "QuoteId" : 1,
    "MinPrice" : 22,
    "Direct" : false,
    "OutboundLeg" : {
      "CarrierIds" : [ 1090 ],
      "OriginId" : 42414,
      "DestinationId" : 42514,
      "DepartureDate" : "2021-11-27T00:00:00"
    },
    "QuoteDateTime" : "2021-10-11T22:40:00"
  }, {
    "QuoteId" : 2,
    "MinPrice" : 28,
    "Direct" : true,
    "OutboundLeg" : {
      "CarrierIds" : [ 1090 ],
      "OriginId" : 42414,
      "DestinationId" : 42514,
      "DepartureDate" : "2021-11-27T00:00:00"
    },
    "QuoteDateTime" : "2021-10-11T22:40:00"
  } ],
  "Carriers" : [ {
    "CarrierId" : 1090,
    "Name" : "Ryanair"
  } ],
  "Places" : [ {
    "Name" : "Barcelona",
    "Type" : "Station",
    "PlaceId" : 42414,
    "IataCode" : "BCN",
    "SkyscannerCode" : "BCN",
    "CityName" : "Barcelona",
    "CityId" : "BARC",
    "CountryName" : "Spain"
  }, {
    "Name" : "Berlin Brandenburg",
    "Type" : "Station",
    "PlaceId" : 42514,
    "IataCode" : "BER",
    "SkyscannerCode" : "BER",
    "CityName" : "Berlin",
    "CityId" : "BERL",
    "CountryName" : "Germany"
  } ],
  "Currencies" : [ {
    "Code" : "EUR",
    "Symbol" : "€",
    "ThousandsSeparator" : ".",
    "DecimalSeparator" : ",",
    "SymbolOnLeft" : false,
    "SpaceBetweenAmountAndSymbol" : true,
    "RoundingCoefficient" : 0,
    "DecimalDigits" : 2
  } ]
}