# Lab | Working with APIs

#### Instructions 

Following the class example, create a function that returns the price, names of origin and arrival airports and the name of the company. Do it for all the flights between two dates that cost the same.

In [1]:
import pandas as pd
import requests

In [2]:
# Price
# Departure airport
# arrival airport
# name of the company

In [3]:
import requests

url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/browsequotes/v1.0/US/USD/en-US/LOND-sky/PARI-sky/2021-12-01"

querystring = {"inboundpartialdate":"2021-12-05"}

headers = {
    'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com",
    'x-rapidapi-key': "eb3d56dfafmsh83222c7fd64aaecp15b345jsn6d9cbb52893c"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "Quotes" : [ {
    "QuoteId" : 1,
    "MinPrice" : 29,
    "Direct" : false,
    "OutboundLeg" : {
      "CarrierIds" : [ 1090 ],
      "OriginId" : 82398,
      "DestinationId" : 43313,
      "DepartureDate" : "2021-12-01T00:00:00"
    },
    "QuoteDateTime" : "2021-10-10T15:50:00"
  }, {
    "QuoteId" : 2,
    "MinPrice" : 69,
    "Direct" : true,
    "OutboundLeg" : {
      "CarrierIds" : [ 50441 ],
      "OriginId" : 65655,
      "DestinationId" : 44759,
      "DepartureDate" : "2021-12-01T00:00:00"
    },
    "QuoteDateTime" : "2021-10-07T20:58:00"
  } ],
  "Carriers" : [ {
    "CarrierId" : 50441,
    "Name" : "easyJet"
  }, {
    "CarrierId" : 1090,
    "Name" : "Ryanair"
  } ],
  "Places" : [ {
    "Name" : "Paris Beauvais",
    "Type" : "Station",
    "PlaceId" : 43313,
    "IataCode" : "BVA",
    "SkyscannerCode" : "BVA",
    "CityName" : "Paris",
    "CityId" : "PARI",
    "CountryName" : "France"
  }, {
    "Name" : "Paris Charles de Gaulle",
    "Type" : "Station",
    "PlaceId" : 44759,
    "IataCode" : "CDG",
    "SkyscannerCode" : "CDG",
    "CityName" : "Paris",
    "CityId" : "PARI",
    "CountryName" : "France"
  }, {
    "Name" : "London Gatwick",
    "Type" : "Station",
    "PlaceId" : 65655,
    "IataCode" : "LGW",
    "SkyscannerCode" : "LGW",
    "CityName" : "London",
    "CityId" : "LOND",
    "CountryName" : "United Kingdom"
  }, {
    "Name" : "London Stansted",
    "Type" : "Station",
    "PlaceId" : 82398,
    "IataCode" : "STN",
    "SkyscannerCode" : "STN",
    "CityName" : "London",
    "CityId" : "LOND",
    "CountryName" : "United Kingdom"
  }, {
    "Name" : "London",
    "Type" : "City",
    "PlaceId" : 3169460,
    "SkyscannerCode" : "LOND",
    "CityId" : "LOND",
    "CountryName" : "United Kingdom"
  } ],
  "Currencies" : [ {
    "Code" : "USD",
    "Symbol" : "$",
    "ThousandsSeparator" : ",",
    "DecimalSeparator" : ".",
    "SymbolOnLeft" : true,
    "SpaceBetweenAmountAndSymbol" : false,
    "RoundingCoefficient" : 0,
    "DecimalDigits" : 2
  } ]
}

In [4]:
#data = pd.DataFrame(response.json().items())
#data

In [5]:
import json

In [6]:
pd.json_normalize(response.json())

,Quotes,Carriers,Places,Currencies
0,"[{'QuoteId': 1, 'MinPrice': 29, 'Direct': Fals...","[{'CarrierId': 50441, 'Name': 'easyJet'}, {'Ca...","[{'Name': 'Paris Beauvais', 'Type': 'Station',...","[{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa..."

In [7]:
quotes = pd.DataFrame(pd.json_normalize(response.json())["Quotes"][0])
carriers = pd.DataFrame(pd.json_normalize(response.json())["Carriers"][0])
places = pd.DataFrame(pd.json_normalize(response.json())["Places"][0])
currencies = pd.DataFrame(pd.json_normalize(response.json())["Currencies"][0])

In [14]:
quotes

,QuoteId,MinPrice,Direct,OutboundLeg,QuoteDateTime
0,1,29,False,"{'CarrierIds': [1090], 'OriginId': 82398, 'Des...",2021-10-10T15:50:00
1,2,69,True,"{'CarrierIds': [50441], 'OriginId': 65655, 'De...",2021-10-07T20:58:00

In [9]:
currencies

,Code,Symbol,ThousandsSeparator,DecimalSeparator,SymbolOnLeft,SpaceBetweenAmountAndSymbol,RoundingCoefficient,DecimalDigits
0,USD,$,",",.,True,False,0,2

In [10]:
flights = pd.DataFrame(pd.DataFrame(pd.json_normalize(response.json())["Quotes"][0])["OutboundLeg"][0])

In [11]:
flights

   CarrierIds  OriginId  DestinationId        DepartureDate
0        1090     82398          43313  2021-12-01T00:00:00

In [12]:
data_1 = pd.concat([quotes, carriers, places, currencies], axis = 1)

In [13]:
data_1[:2]

,QuoteId,MinPrice,Direct,OutboundLeg,QuoteDateTime,CarrierId,Name,Name,Type,PlaceId,...,CityId,CountryName,Code,Symbol,ThousandsSeparator,DecimalSeparator,SymbolOnLeft,SpaceBetweenAmountAndSymbol,RoundingCoefficient,DecimalDigits
0,1.0,29.0,False,"{'CarrierIds': [1090], 'OriginId': 82398, 'Des...",2021-10-10T15:50:00,50441.0,easyJet,Paris Beauvais,Station,43313,...,PARI,France,USD,$,",",.,True,False,0.0,2.0
1,2.0,69.0,True,"{'CarrierIds': [50441], 'OriginId': 65655, 'De...",2021-10-07T20:58:00,1090.0,Ryanair,Paris Charles de Gaulle,Station,44759,...,PARI,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN