LAB WORKING WITH API

In [2]:
import pandas as pd
import requests
import json

In [3]:
url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/browsequotes/v1.0/US/USD/en-US/LOND-sky/PARI-sky/2021-12-01"

querystring = {"inboundpartialdate":"2021-11-16"}

headers = {
    'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com",
    'x-rapidapi-key': "eb3d56dfafmsh83222c7fd64aaecp15b345jsn6d9cbb52893c"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "Quotes" : [ {
    "QuoteId" : 1,
    "MinPrice" : 29,
    "Direct" : false,
    "OutboundLeg" : {
      "CarrierIds" : [ 1090 ],
      "OriginId" : 82398,
      "DestinationId" : 43313,
      "DepartureDate" : "2021-12-01T00:00:00"
    },
    "QuoteDateTime" : "2021-10-13T13:05:00"
  }, {
    "QuoteId" : 2,
    "MinPrice" : 71,
    "Direct" : true,
    "OutboundLeg" : {
      "CarrierIds" : [ 881 ],
      "OriginId" : 65698,
      "DestinationId" : 44759,
      "DepartureDate" : "2021-12-01T00:00:00"
    },
    "QuoteDateTime" : "2021-10-10T17:52:00"
  } ],
  "Carriers" : [ {
    "CarrierId" : 1090,
    "Name" : "Ryanair"
  }, {
    "CarrierId" : 881,
    "Name" : "British Airways"
  } ],
  "Places" : [ {
    "Name" : "Paris Beauvais",
    "Type" : "Station",
    "PlaceId" : 43313,
    "IataCode" : "BVA",
    "SkyscannerCode" : "BVA",
    "CityName" : "Paris",
    "CityId" : "PARI",
    "CountryName" : "France"
  }, {
    "Name" : "Paris Charles de Gaulle",
    "Type" : "Station",
    "PlaceId" : 44759,
    "IataCode" : "CDG",
    "SkyscannerCode" : "CDG",
    "CityName" : "Paris",
    "CityId" : "PARI",
    "CountryName" : "France"
  }, {
    "Name" : "London Heathrow",
    "Type" : "Station",
    "PlaceId" : 65698,
    "IataCode" : "LHR",
    "SkyscannerCode" : "LHR",
    "CityName" : "London",
    "CityId" : "LOND",
    "CountryName" : "United Kingdom"
  }, {
    "Name" : "London Stansted",
    "Type" : "Station",
    "PlaceId" : 82398,
    "IataCode" : "STN",
    "SkyscannerCode" : "STN",
    "CityName" : "London",
    "CityId" : "LOND",
    "CountryName" : "United Kingdom"
  }, {
    "Name" : "London",
    "Type" : "City",
    "PlaceId" : 3169460,
    "SkyscannerCode" : "LOND",
    "CityId" : "LOND",
    "CountryName" : "United Kingdom"
  } ],
  "Currencies" : [ {
    "Code" : "USD",
    "Symbol" : "$",
    "ThousandsSeparator" : ",",
    "DecimalSeparator" : ".",
    "SymbolOnLeft" : true,
    "SpaceBetweenAmountAndSymbol" : false,
    "RoundingCoefficient" : 0,
    "DecimalDigits" : 2
  } ]
}

In [4]:
print(response.status_code)

200

In [5]:
pd.json_normalize(response.json())

,Quotes,Carriers,Places,Currencies
0,"[{'QuoteId': 1, 'MinPrice': 29, 'Direct': Fals...","[{'CarrierId': 1090, 'Name': 'Ryanair'}, {'Car...","[{'Name': 'Paris Beauvais', 'Type': 'Station',...","[{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa..."

In [6]:
quotes = pd.DataFrame(pd.json_normalize(response.json())["Quotes"][0])
carriers = pd.DataFrame(pd.json_normalize(response.json())["Carriers"][0])
places = pd.DataFrame(pd.json_normalize(response.json())["Places"][0])
currencies = pd.DataFrame(pd.json_normalize(response.json())["Currencies"][0])

In [7]:
quotes

,QuoteId,MinPrice,Direct,OutboundLeg,QuoteDateTime
0,1,29,False,"{'CarrierIds': [1090], 'OriginId': 82398, 'Des...",2021-10-13T13:05:00
1,2,71,True,"{'CarrierIds': [881], 'OriginId': 65698, 'Dest...",2021-10-10T17:52:00

In [8]:
carriers

   CarrierId             Name
0       1090          Ryanair
1        881  British Airways

In [9]:
places

,Name,Type,PlaceId,IataCode,SkyscannerCode,CityName,CityId,CountryName
0,Paris Beauvais,Station,43313,BVA,BVA,Paris,PARI,France
1,Paris Charles de Gaulle,Station,44759,CDG,CDG,Paris,PARI,France
2,London Heathrow,Station,65698,LHR,LHR,London,LOND,United Kingdom
3,London Stansted,Station,82398,STN,STN,London,LOND,United Kingdom
4,London,City,3169460,NaN,LOND,NaN,LOND,United Kingdom

In [10]:
currencies

,Code,Symbol,ThousandsSeparator,DecimalSeparator,SymbolOnLeft,SpaceBetweenAmountAndSymbol,RoundingCoefficient,DecimalDigits
0,USD,$,",",.,True,False,0,2