# Lab | Working with APIs

**Instructions**
Following the class example, create a function that returns the price, names of origin and arrival airports and the name of the company. Do it for all the flights between two dates that cost the same.

In [32]:
# example from class

import requests

url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/browsequotes/v1.0/US/USD/en-US/SFO-sky/JFK-sky/2021-12-24"

querystring = {"inboundpartialdate":"2021-12-24"}

headers = {
    'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com",
    'x-rapidapi-key': "ea05eaab96mshbe0ea9155d41f91p1cf69bjsna0c3487cc020"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "Quotes" : [ {
    "QuoteId" : 1,
    "MinPrice" : 99,
    "Direct" : true,
    "OutboundLeg" : {
      "CarrierIds" : [ 870 ],
      "OriginId" : 81727,
      "DestinationId" : 60987,
      "DepartureDate" : "2021-12-24T00:00:00"
    },
    "QuoteDateTime" : "2021-10-09T07:23:00"
  } ],
  "Carriers" : [ {
    "CarrierId" : 870,
    "Name" : "jetBlue"
  } ],
  "Places" : [ {
    "Name" : "New York John F. Kennedy",
    "Type" : "Station",
    "PlaceId" : 60987,
    "IataCode" : "JFK",
    "SkyscannerCode" : "JFK",
    "CityName" : "New York",
    "CityId" : "NYCA",
    "CountryName" : "United States"
  }, {
    "Name" : "San Francisco International",
    "Type" : "Station",
    "PlaceId" : 81727,
    "IataCode" : "SFO",
    "SkyscannerCode" : "SFO",
    "CityName" : "San Francisco",
    "CityId" : "SFOA",
    "CountryName" : "United States"
  } ],
  "Currencies" : [ {
    "Code" : "USD",
    "Symbol" : "$",
    "ThousandsSeparator" : ",",
    "DecimalSeparator" : ".",
    "SymbolOnLeft" : true,
    "SpaceBetweenAmountAndSymbol" : false,
    "RoundingCoefficient" : 0,
    "DecimalDigits" : 2
  } ]
}

In [12]:
print(response.status_code)

200

In [27]:
import json
from pandas import json_normalize
import pandas as pd

In [14]:
json_data= response.json()

In [15]:
json_data

{'Quotes': [{'QuoteId': 1,
   'MinPrice': 99,
   'Direct': True,
   'OutboundLeg': {'CarrierIds': [870],
    'OriginId': 81727,
    'DestinationId': 60987,
    'DepartureDate': '2021-12-24T00:00:00'},
   'QuoteDateTime': '2021-10-09T07:23:00'}],
 'Carriers': [{'CarrierId': 870, 'Name': 'jetBlue'}],
 'Places': [{'Name': 'New York John F. Kennedy',
   'Type': 'Station',
   'PlaceId': 60987,
   'IataCode': 'JFK',
   'SkyscannerCode': 'JFK',
   'CityName': 'New York',
   'CityId': 'NYCA',
   'CountryName': 'United States'},
  {'Name': 'San Francisco International',
   'Type': 'Station',
   'PlaceId': 81727,
   'IataCode': 'SFO',
   'SkyscannerCode': 'SFO',
   'CityName': 'San Francisco',
   'CityId': 'SFOA',
   'CountryName': 'United States'}],
 'Currencies': [{'Code': 'USD',
   'Symbol': '$',
   'ThousandsSeparator': ',',
   'DecimalSeparator': '.',
   'SymbolOnLeft': True,
   'SpaceBetweenAmountAndSymbol': False,
   'RoundingCoefficient': 0,
   'DecimalDigits': 2}]}

In [37]:
json_df = pd.json_normalize(json_data, max_level=1)

In [42]:
result = pd.json_normalize(json_data, 'Places', ['CityName'])

KeyError: "Try running with errors='ignore' as key 'CityName' is not always present"

In [43]:
json_df

,Quotes,Carriers,Places,Currencies
0,"[{'QuoteId': 1, 'MinPrice': 99, 'Direct': True...","[{'CarrierId': 870, 'Name': 'jetBlue'}]","[{'Name': 'New York John F. Kennedy', 'Type': ...","[{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa..."

In [44]:
for i in json_df:
    print(i)

Quotes
Carriers
Places
Currencies