In [7]:
import requests

url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/autosuggest/v1.0/UK/GBP/en-GB/"

querystring = {"query":"Stockholm"}

headers = {
    'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com",
    'x-rapidapi-key': "9c8d07c07emsh4f918e8fccf6096p166317jsna5619b1b6eec"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "Places" : [ {
    "PlaceId" : "STOC-sky",
    "PlaceName" : "Stockholm",
    "CountryId" : "SE-sky",
    "RegionId" : "",
    "CityId" : "STOC-sky",
    "CountryName" : "Sweden"
  }, {
    "PlaceId" : "ARN-sky",
    "PlaceName" : "Stockholm Arlanda",
    "CountryId" : "SE-sky",
    "RegionId" : "",
    "CityId" : "STOC-sky",
    "CountryName" : "Sweden"
  }, {
    "PlaceId" : "NYO-sky",
    "PlaceName" : "Stockholm Skavsta",
    "CountryId" : "SE-sky",
    "RegionId" : "",
    "CityId" : "STOC-sky",
    "CountryName" : "Sweden"
  }, {
    "PlaceId" : "BMA-sky",
    "PlaceName" : "Stockholm Bromma",
    "CountryId" : "SE-sky",
    "RegionId" : "",
    "CityId" : "STOC-sky",
    "CountryName" : "Sweden"
  }, {
    "PlaceId" : "VST-sky",
    "PlaceName" : "Stockholm Vasteras",
    "CountryId" : "SE-sky",
    "RegionId" : "",
    "CityId" : "STOC-sky",
    "CountryName" : "Sweden"
  } ]
}

In [9]:

url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/browsequotes/v1.0/US/USD/en-US/SFO-sky/JFK-sky/2021-11-11"

querystring = {"inboundpartialdate":"2021-11-11"}

headers = {
    'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com",
    'x-rapidapi-key': "9c8d07c07emsh4f918e8fccf6096p166317jsna5619b1b6eec"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "Quotes" : [ {
    "QuoteId" : 1,
    "MinPrice" : 68,
    "Direct" : true,
    "OutboundLeg" : {
      "CarrierIds" : [ 851 ],
      "OriginId" : 81727,
      "DestinationId" : 60987,
      "DepartureDate" : "2021-11-11T00:00:00"
    },
    "QuoteDateTime" : "2021-10-11T10:15:00"
  } ],
  "Carriers" : [ {
    "CarrierId" : 851,
    "Name" : "Alaska Airlines"
  } ],
  "Places" : [ {
    "Name" : "New York John F. Kennedy",
    "Type" : "Station",
    "PlaceId" : 60987,
    "IataCode" : "JFK",
    "SkyscannerCode" : "JFK",
    "CityName" : "New York",
    "CityId" : "NYCA",
    "CountryName" : "United States"
  }, {
    "Name" : "San Francisco International",
    "Type" : "Station",
    "PlaceId" : 81727,
    "IataCode" : "SFO",
    "SkyscannerCode" : "SFO",
    "CityName" : "San Francisco",
    "CityId" : "SFOA",
    "CountryName" : "United States"
  } ],
  "Currencies" : [ {
    "Code" : "USD",
    "Symbol" : "$",
    "ThousandsSeparator" : ",",
    "DecimalSeparator" : ".",
    "SymbolOnLeft" : true,
    "SpaceBetweenAmountAndSymbol" : false,
    "RoundingCoefficient" : 0,
    "DecimalDigits" : 2
  } ]
}

In [10]:
import pandas as pd

In [11]:
df = pd.DataFrame(response.json().items())

In [12]:
df['new_col'] = df[1].apply(lambda x: x[0])
df

,0,1,new_col
0,Quotes,"[{'QuoteId': 1, 'MinPrice': 68, 'Direct': True...","{'QuoteId': 1, 'MinPrice': 68, 'Direct': True,..."
1,Carriers,"[{'CarrierId': 851, 'Name': 'Alaska Airlines'}]","{'CarrierId': 851, 'Name': 'Alaska Airlines'}"
2,Places,"[{'Name': 'New York John F. Kennedy', 'Type': ...","{'Name': 'New York John F. Kennedy', 'Type': '..."
3,Currencies,"[{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...","{'Code': 'USD', 'Symbol': '$', 'ThousandsSepar..."